{% extends "ecomshop/base.html" %}
{% block title %}Contact PAGE{% endblock %}

{% block content %}
<div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Text</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <br><a href="#" class="btn btn-primary">Send</a>
    </div>

    <div style="padding-top:320px">
        <hr class="mt-0 mb-4">
        <p>Headquarters: 308 Negra Arroyo Lane, Albuquerque, New Mexico. 87104</p>
        <p>Contact info:</p>
        <ul><li>Email: nofakeinfo@nofakeinfo.cn
            <li>Phone: 85859549</li>
        </ul>
    </div>
{% endblock %}