{% extends "ecomshop/base.html" %}

{% block title %}Home PAGE{% endblock %}

{% block content %}
    <div class="content" style="height:650px">
        <h5 style="line-height: 40px">Uzņēmums E-Corp nodarbojas ar dažādas slepenības informācijas komercializāciju.
            <br>Pasaulē labākie informācijas glabātāji. Mēs gan pardodam, gan uzpērkam informāciju par labākajām cenām.
            <br>Mēs pārdodam dažāda tipa informāciju:
                <ul>
                    <li>Jaunāko informāciju politikā</li>
                    <li>Informāciju saistībā ar tirzniecības koncerniem</li>
                    <li>Ļoti slepenu informāciju :O</li>
                    <li>Ļoti, ļoti slepenu informāciju (pat Levits nezina)</li>
                </ul>
        </h5>
    </div>

    {% if user.is_authenticated %}
        <p>Welcome, {{user.username}}, you are logged in</p>
        <p>You can log out <a href="/logout">here</a></p>
    {% else %}
        <p>You are not logged in, log in <a href="/login">here</a></p>
    {% endif %}
    

{% endblock %}